# Supabase
# Get these values from your Supabase project settings -> API
NEXT_PUBLIC_SUPABASE_URL="your-supabase-project-url"
NEXT_PUBLIC_SUPABASE_ANON_KEY="your-supabase-anon-key"

# Supabase Admin Key (Optional: for server-side administrative tasks only - do not expose to the client)
# SUPABASE_SERVICE_ROLE_KEY="your-supabase-service-role-key"

# Resend
# Get this value from your Resend dashboard -> API Keys
RESEND_API_KEY="your-resend-api-key"
